// Global variables

// General
$main-white: #FEFEFE;
$main-black: #010101;

// Graphic Chart
$mint: #E6EAD8;
$main-yellow: #FFCC00;
$main-green: #13920D;

// greys
$input-grey: #B2B2B2;
$line-grey: #CACACA;


// Shades of blue
$container-blue: #3A89E6;
$link-blue: #0000FF;
