// Fonts
@font-face {
    font-family: 'Helvetica BlackItalic';
    font-weight: 400;
    src: local("Helvetica BlackItalic"), url('~@/assets/fonts/Helvetica-BlackItalic-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Franklin Gothic Medium';
    font-weight: 400;
    src: local("Franklin Gothic Medium"), url('~@/assets/fonts/Franklin Gothic Medium Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Franklin Gothic Medium';
    font-weight: 400;
    src: local("Franklin Gothic Medium"), url('~@/assets/fonts/Franklin Gothic Medium Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Tahoma';
    font-weight: 400;
    src: local("Tahoma"), url('~@/assets/fonts/tahoma.ttf') format('truetype');
}
@font-face {
    font-family: 'Tahoma';
    font-weight: 600;
    src: local("Tahoma Bold"), url('~@/assets/fonts/tahomabd.ttf') format('truetype');
}
@font-face {
    font-family: 'Verdana';
    font-weight: 400;
    src: local("Verdana"), url('~@/assets/fonts/verdana-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 400;
    src: local("Trebuchet MS"), url('~@/assets/fonts/trebuc.ttf') format('truetype');
}
@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 600;
    src: local("Trebuchet MS"), url('~@/assets/fonts/trebucbd.ttf') format('truetype');
}


// Global variables

// General
$main-white: #FEFEFE;
$main-black: #010101;

// Graphic Chart
$mint: #E6EAD8;
$main-yellow: #FFCC00;
$main-green: #13920D;

// greys
$input-grey: #B2B2B2;
$line-grey: #CACACA;


// Shades of blue
$container-blue: #3A89E6;
$link-blue: #0000FF;
$load-header-blue: #012F9E;
$bg-blue-loader : #567DDA;
$bg-blue-header: #D3E5FB;
$bg-blue-window-header: #6487DC;
$hover-blue: #005196;


