RewriteEngine On

# If an existing asset or directory is requested go to it as it is
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# Redirect all /office/* URLs to /office
RewriteRule ^office/.*$ /office [L,R=301]

# If the requested resource doesn't exist, use index.html
RewriteRule ^ /index.html [L]

# Redirect 404 errors to /office
ErrorDocument 404 /office